@mixin flex($direction) {
    //mixin con argumento
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: center;//aplico esto sobre el elemento que lo llame

}